footer {
    background:  #0c0910;
    background-size: 500% 100%;
    color: #e9f1f8;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

footer .redes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

footer a:hover {
    opacity: 0.1;
    transition: 0.3s;
}