@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, rgba(0,4,17,1), rgba(13,2,33,1), rgba(33,12,60,1));
    background-size: 500% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    animation: animacao 7s infinite alternate;
}

header .foto {
    display: flex;
    justify-content: center;
    border: 5px solid #2CFA1F;
    border-radius: 50%;
    visibility: hidden;
}

header .logo {
    display: flex;
    justify-content: center;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 30px;
    color: #2CFA1F;
    position: relative;
    text-align: center;
    visibility: hidden;
}

@keyframes animacao {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

header .linguas {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    visibility: hidden;
}

header .linguas button {
    border: 0;
    background-color: transparent;
}

header .linguas #port {
    cursor: pointer;
}

header .linguas #eng {
    opacity: 0.2;
}

header .linguas #port:hover {
    opacity: 0.1;
    transition: 0.3s;
}