@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
    box-sizing: border-box;
}

header {
    background: #0c0910;
    background-size: 500% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}

header .foto {
    display: flex;
    justify-content: center;
    border: 5px solid #e9f1f8;
    border-radius: 50%;
}

header .logo {
    display: flex;
    justify-content: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #e9f1f8;
    position: relative;
    text-align: center;
}

 /*
header .linguas {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

header .linguas button {
    border: 0;
    background-color: transparent;
}

header .linguas #eng {
    cursor: pointer;
}

header .linguas #port {
    opacity: 0.2;
}

header .linguas #eng:hover {
    opacity: 0.1;
    transition: 0.3s;
}
*/