.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    background-color: #444545;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    color: #d7263d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 0.3s;
}

.menu ul li a:hover {
    color: #F4000C;
}

.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul li {
    display: inline;
}

.menu ul ul li a {
    display: block;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    position: fixed;
    top: 1%;
    left: 1%;
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: var(--bar-width);
    height: var(--hamburger-height);
    background: transparent;
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid #d7263d;
    box-shadow: 0 0 0 1px #444545;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: #d7263d;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
        rotate var(--animation-timing), translate var(--animation-timing), 
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate 200ms ease-in-out;
    translate: -100%;
    padding-top: 80px;
    background-color: #444545;
    color: #d7263d;
    position: fixed;
    top: 0;
    left: 0;
    width: min(250px, 80vw);
    height: 100vh;
    z-index: 1;
}

.sidebar ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    display: block;
    width: 100%;
}

.sidebar li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px;
    color: #d7263d;
    text-decoration: none;
}

.sidebar li:hover a {
    color: #F4000C;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

@media screen and (max-width: 980px){
    .menu ul {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: block;
    }
}